<p>Search Player Works!</p>

<div class="container mt-4 col-md-8">
  <table class="table table-bordered table-striped table-hover table-primary">
    <thead class="table-dark text-center">
      <tr>
        <th>SNO.</th>
        <th>Player ID</th>
        <th>Name</th>
        <th>Jersey No.</th>
        <th>Role</th>
        <th>Matches</th>
        <th>Team</th>
        <th>State</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let player of playerSearchList; index as i" class="text-center align-middle">
        <td>{{ i + 1 }}</td>
        <td>{{ player.playerId }}</td>
        <td>{{ player.playerName }}</td>
        <td>{{ player.jerseyNumber }}</td>
        <td>{{ player.role }}</td>
        <td>{{ player.totalMatches }}</td>
        <td>{{ player.teamName }}</td>
        <td>{{ player.stateName }}</td>
        <td>{{ player.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
